[% extends 'base.html.twig' %]
[ % block title %] Mot de Passe oublié ? [%endblock %]

[%block body%]
    <h1>Mot de Passe Oublié ?</h1>
    <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <a href="{ { path('app_login') } }"> Retour à la page connexion</a>
    [% endblock %]