<form method="post" action="{{ path('app_versus_delete', {'id': versu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ versu.id) }}">
    <button class="btn">Delete</button>
</form>
