{% extends 'base.html.twig' %}

{% block title %}New Versus{% endblock %}

{% block body %}
    <h1>Create new Versus</h1>

    {{ include('versus/_form.html.twig') }}

    <a href="{{ path('app_versus_index') }}">back to list</a>
{% endblock %}
