<footer>

    <div class="container">
        <div class="logo">
            <img src="{{ asset('images/Logo1.png') }}" alt="Logo du site" width="50" height="auto">
            <a>ParEsport</a>
        </div>
        <div class="text">
            <a>Politique De Confidentialité</a>
        </div>
        <div class="reseaux">
            <img src="{{ asset('images/logo_twitter.png') }}" alt="Logo de twitter" width="50" height="auto">
            <img src="{{ asset('images/logo_facebook.png') }}" alt="Logo de Facebook" width="50" height="auto">
            <img src="{{ asset('images/logo_insta.png') }}" alt="Logo d'Instagram" width="50" height="auto">
        </div>
    </div>

</footer>